@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.slider {
   position: relative;
}
.slider-container {
   overflow: hidden;
}
.slider-track {
   position: relative;
   display: flex;
   transition: all 0.65s;
}
.slider-arrow {
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 40px;
   height: 40px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   cursor: pointer;
   z-index: 10;
   span {
      width: 24px;
      height: 12px;
      background-image: url('/assets/img/icons/arrow.svg');
   }
   &_prev {
      left: -60px;
   }
   &_next {
      right: -60px;
      span {
         transform: rotate(180deg);
      }
   }
}

.slide {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   flex: 0 0 288px;
   height: 380px;
   background-color: #B9CADD;
   border-radius: 20px;
   &:not(:last-child) {
      margin-right: 16px;
   }
   &_school {
      background-image: url('/assets/img/home_page/services/school.svg');
      background-repeat: no-repeat;
      background-position: 30%;
   }
}
.slide__block-text {
   padding: 20px 20px 0;
}
.slide__title {
   color: $white;
}
.slide__text {
   color: $white;
   font-weight: normal;
   font-size: 12px;
   line-height: 1.33;
   color: $white;
   margin-top: 10px;
}
.slide__img {
   text-align: center;
   &_small {
      height: 57px;
      img {
         height: 100%;
      }
   }
}

.slide__label {
   display: flex;
   flex-direction: column;
   padding: 0 20px;
   &_bottom {
      margin: auto 0 20px;
   }
}
.slide__input {
   width: 100%;
   height: 40px;
   padding: 0 20px;

   background: #FFFFFF;
   border-radius: 25px;
   &_small {
      height: 36px;
   }
   &:not(:first-child) {
      margin-top: 10px;
   }
}
.slide__link {
   &:not(:first-child) {
      margin-top: 10px;
   }
   font-weight: normal;
   font-size: 12px;
   line-height: 1.33;
   text-decoration: underline;
   color: $white;
}
.slide__btn {
   height: 40px;
   width: 100%;
   border-radius: 25px;
}

@include media(desktop_1366) {
   .slider-arrow {
      display: none;
   }
}
@include media(tablet_1240) {
   .slider-container {
      overflow: visible;
   }
   .slide {
      cursor: pointer;
      height: 130px;
      &_school {
         background-image: none;
      }
   }
   .slide__img,
   .slide__label,
   .slide__btn {
      display: none;
   }
}