<section class="events">
   <div class="wrap">
     <h3 class="events__title">События</h3>
     
     <div class="slider">
       <div class="slider__slide-list">
         <div class="events__block slider__slide slider__slide_social-navigator">
           <h2 class="events__title">СУБСИДИЯ НА РЕАЛИЗАЦИЮ ПРОДУКЦИИ ЧЕРЕЗ МАРКЕТПЛЕЙСЫ</h2>
           <div class="events__text">Подача заявок на компенсацию расходов на продвижение товаров и услуг через маркетплейсы продлится до 30 ноября!</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>

         <!-- <div class="events__block slider__slide slider__slide_debts">
           <h2 class="events__title">СОЦИАЛЬНЫЙ НАВИГАТОР ДЛЯ МНОГОДЕТНЫХ СЕМЕЙ</h2>
           <div class="events__text">Региональные льготы и компенсации, положенные многодетным семьям в Подмосковье</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_orvi-symptoms">
           <h2 class="events__title">УЗНАЙ О СВОИХ ДОЛГАХ</h2>
           <div class="events__text">Воспользуйтесь сервисами ФССП России на портале Госуслуг</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_stop-covid">
           <h2 class="events__title">ЕСТЬ СИМПТОМЫ ОРВИ И ТЕМПЕРАТУРА МЕНЬШЕ 38?</h2>
           <div class="events__text">Приходите на прием к дежурному врачу в поликлинику без предварительной записи. Поликлиники работают ежедневно с 8 до 20. При необходимости дежурный врач направит к узкому специалисту.</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_vaccine">
           <h2 class="events__title">ОСТАНОВИМ COVID-19 ВМЕСТЕ</h2>
           <div class="events__text">Как поступить, если вы подозреваете, что заболели коронавирусом?</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_worker-info">
           <h2 class="events__title">ПРИГЛАШАЕМ ПРОЙТИ БЕСПЛАТНУЮ ВАКЦИНАЦИЮ ОТ COVID-19</h2>
           <div class="events__text">Защитите себя и своих близких!</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_military-commissariat">
           <h2 class="events__title">КАК ПОДАТЬ СВЕДЕНИЯ О РАБОТНИКАХ</h2>
           <div class="events__text">ЮЛ и ИП необходимо предоставить сведения о вакцинации сотрудников от COVID-19 до 10 ноября 2021 года</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_appeal">
           <h2 class="events__title">ВОЕННЫЕ КОМИССАРИАТЫ МОСКОВСКОЙ ОБЛАСТИ</h2>
           <div class="events__text">Актуальная информация о жизни и главных событиях деятельности военных комиссариатов</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_technical-service">
           <h2 class="events__title">ОБЖАЛУЙТЕ РЕШЕНИЕ КОНТРОЛЬНОГО ОРГАНА</h2>
           <div class="events__text">Во время проверки нарушены ваши права? Перед обращением в суд подайте жалобу на Госуслугах</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_qr-code">
           <h2 class="events__title">ЗАПИСЬ НА ТО</h2>
           <div class="events__text">Предварительная запись на прохождение технического осмотра транспортных средств</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_working-mode">
           <h2 class="events__title">КАК ПОЛУЧИТЬ QR-КОД, ГДЕ И ДЛЯ ЧЕГО</h2>
           <div class="events__text">Ответы на частые вопросы по ограничениям в связи с COVID-19 и получению QR-кодов</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_electronic-signature">
           <h2 class="events__title">ПОДАЧА СВЕДЕНИЙ О РЕЖИМЕ РАБОТЫ СОТРУДНИКОВ</h2>
           <div class="events__text">Работодателям необходимо представлять в электронном виде сведения о количестве и режиме работы сотрудников в связи с дополнительными мерами по предотвращению распространения COVID-2019</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_doctor">
           <h2 class="events__title">ПОРЯДОК ПОЛУЧЕНИЯ УСИЛЕННОЙ КВАЛИФИЦИРОВАННОЙ ЭЛЕКТРОННОЙ ПОДПИСИ</h2>
           <div class="events__text">Электронная подпись – это реквизит электронного документа, подтверждающий целостность и подлинность представленной в нём информации</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_school-portal">
           <h2 class="events__title">ЗАПИСАТЬСЯ К ВРАЧУ</h2>
           <div class="events__text">Приходите на прием и не ждите в очереди</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_self-employee">
           <h2 class="events__title">ШКОЛЬНЫЙ ПОРТАЛ</h2>
           <div class="events__text">Единая информационная система учета и мониторинга образовательных достижений обучающихся образовательных организаций Московской области!</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_young-family">
           <h2 class="events__title">НОВЫЙ НАЛОГОВЫЙ РЕЖИМ ДЛЯ САМОЗАНЯТЫХ</h2>
           <div class="events__text">Зарабатывайте официально — без бухгалтера, отчетности, онлайн-кассы и посещений ФНС с минимальным налогом на профессиональный доход</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_social-support">
           <h2 class="events__title">ПРОЕКТ ДЛЯ МОЛОДЫХ СЕМЕЙ В МОСКОВСКОЙ ОБЛАСТИ "МЫ - РОДИТЕЛИ В ПОДМОСКОВЬЕ"</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_suburbs">
           <h2 class="events__title">КАКИЕ МЕРЫ СОЦИАЛЬНОЙ ПОДДЕРЖКИ Я МОГУ ПОЛУЧИТЬ В МОСКОВСКОЙ ОБЛАСТИ?</h2>
           <div class="events__text">Ответьте на вопросы экспертной системы и узнайте о положенных Вам мерах социальной поддержки</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_medical-staff">
           <h2 class="events__title">ИНВЕСТИРУЙ В ПОДМОСКОВЬЕ</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_covid-testing">
           <h2 class="events__title">ДОПОЛНИТЕЛЬНЫЕ ВЫПЛАТЫ МЕДИЦИНСКОМУ ПЕРСОНАЛУ</h2>
           <div class="events__text">Воспользуйтесь электронными сервисами для расчета и получения выписок по надбавкам</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_mfc-work">
           <h2 class="events__title">ТЕСТИРОВАНИЕ НА COVID-19 ДЛЯ ПРИБЫВШИХ ИЗ-ЗА ГРАНИЦЫ</h2>
           <div class="events__text">Пройдите тест на коронавирусную инфекцию в поликлинике</div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_covid-facts">
           <h2 class="events__title">РАБОТА В МФЦ</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_large-family">
           <h2 class="events__title">ВАЖНЫЕ ФАКТЫ ПРО КОРОНАВИРУС</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_esia">
           <h2 class="events__title">СОЦИАЛЬНЫЙ НАВИГАТОР ДЛЯ МНОГОДЕТНЫХ СЕМЕЙ</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_hot-tine">
           <h2 class="events__title">ЧТО ТАКОЕ ЕСИА?</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_medical-work">
           <h2 class="events__title">ЕДИНАЯ ГОРЯЧАЯ ЛИНИЯ МОСКОВСКОЙ ОБЛАСТИ - 122</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_bankrupt">
           <h2 class="events__title">РАБОТА В МЕДИЦИНСКИХ УЧРЕЖДЕНИЯХ</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_gasification">
           <h2 class="events__title">ВНЕСУДЕБНОЕ БАНКРОТСТВО ГРАЖДАНИНА</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_vaccination-appointment">
           <h2 class="events__title">УЗНАЙТЕ ВСЕ О СОЦИАЛЬНОЙ ГАЗИФИКАЦИИ</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_">
           <h2 class="events__title">УЗНАЙТЕ КАК ЗАПИСАТЬСЯ НА ВАКЦИНАЦИЮ ПРОТИВ COVID-19 ЧЕРЕЗ ПОРТАЛ</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_">
           <h2 class="events__title">СУБСИДИЯ</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div>
         
         <div class="events__block slider__slide slider__slide_">
           <h2 class="events__title">СУБСИДИЯ</h2>
           <div class="events__text"></div>
           <button class="btn btn_bgcolor_scarlet events__btn">
             <span>Узнать</span>
           </button>
         </div> -->
       </div>

       <div class="slider__arrow slider__arrow_left">
         <span></span>
       </div>
       <div class="slider__arrow slider__arrow_right">
         <span></span>
       </div>
       <div class="slider__pagins"><span class="slider__pagin"></span><span class="slider__pagin slider__pagin_active"></span><span class="slider__pagin"></span></div>
     </div>

   </div>
 </section>