<div class="slider">
   <div class="slider__slides">
      <div class="slider__slide slide" *ngFor="let slide of slides; let id = index"
         [style.transform]="transformSlide(id)"
         [style.transition]="transstionSlide(id)"
         [class]="slide.slideName ? 'slide_' + slide.slideName : ''"
         [ngClass]="{
            'slide_current-slide': id == currentSlideID, 
            'slide_prev-slide': id == prevSlideID, 
            'slide_next-slide': id == nextSlideID
         }"
         (mousedown)="swipeStart($event)"
         (mousemove)="swipeAction($event)"
         (mouseup)="swipeEnd($event)"
         (touchstart)="swipeStart($event)"
         (touchmove)="swipeAction($event)"
         (touchend)="swipeEnd($event)"
         >
            <h2 class="slide__title">{{slide.title}}</h2>
            <div class="slide__text">{{slide.text}}</div>
            <button class="btn btn_scarlet slide__btn">
               <span>{{slide.btnText}}</span>
            </button>
      </div>
   </div>

   <div class="slider__arrow slider__arrow_prev" (click)="changeCurrentSlide('prev')">
      <span></span>
   </div>
   <div class="slider__arrow slider__arrow_next" (click)="changeCurrentSlide('next')">
      <span></span>
   </div>
   <div class="slider__pagins">
      <span class="slider__pagin" 
         *ngFor="let slide of slides; let id = index" 
         [ngClass]="{'slider__pagin_active': id == currentSlideID}"
         (click)="pagination(id)"
         ></span>
   </div>
</div>