@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.slider {
   position: relative;

   
   &__pagins {
      position: absolute;
      left: 40px;
      bottom: 30px;
      display: flex;
      z-index: 10;
   }
   &__pagin {
      transition: $base-duration;
      width: 7px;
      height: 7px;
      border: 1px solid #fff;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
      &:not(:first-child) {
         margin-left: 5px;
      }
   }
   &__pagin_active {
      background: #000;
   }
   &__arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      cursor: pointer;
      z-index: 10;
      span {
         width: 24px;
         height: 12px;
         background-image: url('/assets/img/icons/arrow.svg');
      }
      &_prev {
         left: -60px;
      }
      &_next {
         right: -60px;
         span {
            transform: rotate(180deg);
         }
      }
   }
   &__slides {
      position: relative;
      overflow: hidden;
      height: 380px;
   }
   &__slide {
   }
}
.slide {
   position: absolute;
   opacity: 0;
   height: 100%;
   width: 100%;
   padding: 40px 468px 76px 40px;
   background-color: #CBC9E2;
   background-repeat: no-repeat;
   background-position: 91% 50%;
   background-size: auto 75%;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   z-index: 1;
   $duration1: .65s;
   $duration2: .4s;
   transform: translateX(0);
   
   &_prev-slide {
      transition: transform $duration1, opacity $duration2 linear;
      transform: translateX(-103%);
      z-index: 5;
   }
   &_current-slide {
      opacity: 1;
      transform: translateX(0);
      z-index: 6;
      transition: transform $duration1, opacity $duration2 linear;
   }
   &_next-slide {
      transition: transform $duration1, opacity $duration2 linear;
      transform: translateX(103%);
      z-index: 5;
   }

   &__title {
      margin-bottom: 20px;
      color: $white;
   }
   &__text {
      color: $white;
      font-size: 16px;
      line-height: 1.6;
      font-weight: normal;
   }
   &__btn {
      width: 210px;
      height: 34px;
      margin-top: auto;
   }

   &_subsidy {
      background-color: #CBC9E2;
      background-image: url('/assets/img/home_page/events-slider/slides/subsidy.svg');
   }
   &_social-navigator {
      background-color: #B5D2EC;
      background-image: url('/assets/img/home_page/events-slider/slides/social-navigator.svg');
   }
   &_debts {
      background-color: #5D9FA6;
      background-image: url('/assets/img/home_page/events-slider/slides/debts.svg');
   }
   &_orvi-symptoms {
      background-color: #C49589;
      background-image: url('/assets/img/home_page/events-slider/slides/orvi-symptoms.svg');
   }
   &_stop-covid {
      background-color: #D8A6AD;
      background-image: url('/assets/img/home_page/events-slider/slides/stop-covid.svg');
   }
   &_vaccine {
      background-color: #1C75AC;
      background-image: url('/assets/img/home_page/events-slider/slides/vaccine.svg');
   }
   &_worker-info {
      background-color: #1C75AC;
      background-image: url('/assets/img/home_page/events-slider/slides/worker-info.svg');
   }
   &_military-commissariat {
      background-color: #849B59;
      background-image: url('/assets/img/home_page/events-slider/slides/military-commissariat.svg');
   }
   &_appeal {
      background-color: #2B5DC0;
      background-image: url('/assets/img/home_page/events-slider/slides/appeal.svg');
   }
   &_technical-service {
      background-color: #A6D4DF;
      background-image: url('/assets/img/home_page/events-slider/slides/technical-service.svg');
   }
   &_qr-code {
      background-color: #BED2FA;
      background-image: url('/assets/img/home_page/events-slider/slides/qr-code.svg');
   }
   &_working-mode {
      background-color: #DBC3C5;
      background-image: url('/assets/img/home_page/events-slider/slides/working-mode.svg');
   }
   &_electronic-signature {
      background-color: #68B182;
      background-image: url('/assets/img/home_page/events-slider/slides/electronic-signature.svg');
   }
   &_doctor {
      background-color: #D5A39B;
      background-image: url('/assets/img/home_page/events-slider/slides/doctor.svg');
   }
   &_school-portal {
      background-color: #88A1C3;
      background-image: url('/assets/img/home_page/events-slider/slides/school-portal.svg');
   }
   &_self-employee {
      background-color: #A8A8A8;
      background-image: url('/assets/img/home_page/events-slider/slides/self-employee.svg');
   }
   &_young-family {
      background-color: #82B8AF;
      background-image: url('/assets/img/home_page/events-slider/slides/young-family.svg');
   }
   &_social-support {
      background-color: #D3C4E7;
      background-image: url('/assets/img/home_page/events-slider/slides/social-support.svg');
   }
   &_suburbs {
      background-color: #A8D9B3;
      background-image: url('/assets/img/home_page/events-slider/slides/suburbs.svg');
   }
   &_medical-staff {
      background-color: #98BBCD;
      background-image: url('/assets/img/home_page/events-slider/slides/medical-staff.svg');
   }
   &_covid-testing {
      background-color: #E0C6A2;
      background-image: url('/assets/img/home_page/events-slider/slides/covid-testing.svg');
   }
   &_mfc-work {
      background-color: #ECBF9A;
      background-image: url('/assets/img/home_page/events-slider/slides/mfc-work.svg');
   }
   &_covid-facts {
      background-color: #B5D2EC;
      background-image: url('/assets/img/home_page/events-slider/slides/covid-facts.svg');
   }
   &_esia {
      background-color: #178CA9;
      background-image: url('/assets/img/home_page/events-slider/slides/esia.svg');
   }
   &_hot-tine {
      background-color: #BED2FA;
      background-image: url('/assets/img/home_page/events-slider/slides/hot-tine.svg');
   }
   &_medical-work {
      background-color: #42D572;
      background-image: url('/assets/img/home_page/events-slider/slides/medical-work.svg');
   }
   &_bankrupt {
      background-color: #DDCDC0;
      background-image: url('/assets/img/home_page/events-slider/slides/bankrupt.svg');
   }
   &_gasification {
      background-color: #A7BAF5;
      background-image: url('/assets/img/home_page/events-slider/slides/gasification.svg');
   }
   &_vaccination-appointment {
      background-color: #89D5C6;
      background-image: url('/assets/img/home_page/events-slider/slides/vaccination-appointment.svg');
   }
}

@include media(desktop_1366) {
   .slider {
      &__arrow {
         display: none;
      }
   }
}
@include media(tablet_1240) {
   .slider {
      &__slides {
         height: auto;
         min-height: 227px;
      }
      &__pagins {
         left: 50%;
         bottom: 15px;
         transform: translateX(-50%);
      }
   }
   .slide {
      align-items: center;
      padding: 30px 20px 39px;
      &__title {
         text-align: center;
         font-size: 18px;
         line-height: 1.555;
         font-weight: bold;
      }
      &__text {
         display: none;
      }
      background-image: none;
   }
}
