@import 'src/styles/variables';

.slider {
   position: relative;

   
   &__pagins {
      position: absolute;
      left: 40px;
      bottom: 30px;
      display: flex;
   }
   &__pagin {
      transition: $base-duration;
      width: 7px;
      height: 7px;
      border: 1px solid #fff;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
      &:not(:first-child) {
         margin-left: 5px;
      }
   }
   &__pagin_active {
      background: #000;
   }
   &__arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 40px;
      height: 40px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      cursor: pointer;
      z-index: 10;
      span {
         width: 24px;
         height: 12px;
         background-image: url('/assets/img/home_page/events-slider/arrow.svg');
      }
      &_prev {
         left: -60px;
      }
      &_next {
         right: -60px;
         span {
            transform: rotate(180deg);
         }
      }
   }
   &__slides {
      position: relative;
      overflow: hidden;
      height: 380px;
   }
   &__slide {
   }
}
.slide {
   position: absolute;
   opacity: 0;
   height: 100%;
   width: 100%;
   padding: 40px 468px 76px 40px;
   background-color: #CBC9E2;
   background-repeat: no-repeat;
   background-position: 91% 50%;
   background-size: auto 75%;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   z-index: 1;
   $duration: 0.65s;
   


   &_prev-slide {
      transition: transform $duration, opacity 0.3s;
      transform: translateX(-103%);
      z-index: 5;
   }
   &_current-slide {
      transition: transform $duration, opacity 0.3s;
      opacity: 1;
      transform: translateX(0);
      z-index: 5;
   }
   &_next-slide {
      transition: transform $duration, opacity 0.3s;
      transform: translateX(103%);
      z-index: 5;
   }
   


   &__title {
      margin-bottom: 20px;
      color: $white;
   }
   &__text {
      color: $white;
      font-size: 16px;
      line-height: 1.6;
      font-weight: normal;
   }
   &__btn {
      margin-top: auto;
   }

   &_subsidy {
      background-color: #CBC9E2;
   }
   &_social-navigator {
      background-color: #B5D2EC;
   }
   &_debts {
      background-color: #5D9FA6;
   }
   &_orvi-symptoms {
      background-color: #C49589;
   }
   &_stop-covid {
      background-color: #D8A6AD;
   }
   &_vaccine {
      background-color: #1C75AC;
   }
   &_worker-info {
      background-color: #1C75AC;
   }
   &_military-commissariat {
      background-color: #849B59;
   }
   &_appeal {
      background-color: #2B5DC0;
   }
   &_technical-service {
      background-color: #A6D4DF;
   }
   &_qr-code {
      background-color: #BED2FA;
   }
   &_working-mode {
      background-color: #DBC3C5;
   }
   &_electronic-signature {
      background-color: #68B182;
   }
   &_doctor {
      background-color: #D5A39B;
   }
   &_school-portal {
      background-color: #88A1C3;
   }
   &_self-employee {
      background-color: #A8A8A8;
   }
   &_young-family {
      background-color: #82B8AF;
   }
   &_social-support {
      background-color: #D3C4E7;
   }
   &_suburbs {
      background-color: #A8D9B3;
   }
   &_medical-staff {
      background-color: #98BBCD;
   }
   &_covid-testing {
      background-color: #E0C6A2;
   }
   &_mfc-work {
      background-color: #ECBF9A;
   }
   &_covid-facts {
      background-color: #B5D2EC;
   }
   &_esia {
      background-color: #178CA9;
   }
   &_hot-tine {
      background-color: #BED2FA;
   }
   &_medical-work {
      background-color: #42D572;
   }
   &_bankrupt {
      background-color: #DDCDC0;
   }
   &_gasification {
      background-color: #A7BAF5;
   }
   &_vaccination-appointment {
      background-color: #89D5C6;
   }
}
