* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $open-sans;
  font-weight: 400;
}

body {
  font-family: $open-sans;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  background: #F7F7F7;
  overflow-x: hidden;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}