<section class="services">
   <div class="wrap">
     <h3 class="services__title">Сервисы</h3>

     <div class="services__block">
       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Узнать тип моей учетной записи ЕСИА</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/gosuslugi.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>Проверить</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Принадлежность автомобильных дорог</h5>
           <div class="services-item__text">Узнайте информацию для получения технических требований и условий</div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/highways.svg" alt="">
         </div>

         <div class="services__label">
           <input type="text" class="services__input" placeholder="Кадастровый номер">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>Определить</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Проверка заявления в детский сад</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/kindergarten.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>Проверить</span>
         </button>
       </form>

       <form class="services-item services-item_school">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Школьный портал</h5>
           <div class="services-item__text">Просматривайте дневник своего ребенка</div>
         </div>

         <div class="services__label services__label_bottom">
           <input type="text" class="services__input" placeholder="Логин">
           <input type="text" class="services__input" placeholder="Пароль">
           <a href="#" class="services__link">Восстановить пароль</a>
           <a href="#" class="services__link">Как получить доступ?</a>
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>Войти</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Медицинская карта</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/medicine.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>Проверить</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">проверка статуса очереди в 1 класс</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/first-grade.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>проверить</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Коммунальные платежи</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/communal-pay.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>передать информацию</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Передача информации о водителях...</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/driver.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>передать информацию</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">дистанционное консультирование</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/consultation.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>подробнее</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Карта офисов мфц</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/mfc-map.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>перейти</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Поиск пропавших людей</h5>
           <div class="services-item__text">Сервис по поиску пропавших среди пациентов больниц Подмосковья</div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/people-search.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>подробнее</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Нам сверху все видно</h5>
           <div class="services-item__text">Все стройки Подмосковья в твоем телефоне</div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/construction.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>записаться</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Предзапись в МФЦ</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/prerecording.svg" alt="">
         </div>
         
         <div class="services__label">
           <input type="text" class="services__input" placeholder="Введите адрес МФЦ">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>записаться</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Наличие ООПТ и их охранных зон, а также ...</h5>
           <div class="services-item__text">Предоставление сведений о наличии особо охраняемых природных территорий и охраняемых видов растений и животных</div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/reserves.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>получить сведения</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Пересечение границ земельных участков</h5>
           <div class="services-item__text">Получение сведений о пересечении с землями лесного фонда Московской области</div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/plots.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>получить сведения</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">государственный лесной реестр</h5>
           <div class="services-item__text">Выписка из государственного лесного реестра</div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/maintenance.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>Получить выписку</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">государственный лесной реестр</h5>
           <div class="services-item__text">Выписка из государственного лесного реестра</div>
         </div>

         <div class="services-item__img services-item__img_small">
           <img src="/assets/img/home_page/services/maintenance.svg" alt="">
         </div>

         <div class="services__label">
           <input type="text" class="services__input" placeholder="Введите номер квартала">
           <input type="text" class="services__input" placeholder="Выберите лесничество">
           <input type="text" class="services__input" placeholder="Выберите участковое леснич...">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>Получить выписку</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">запись на то</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/record.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>записаться</span>
         </button>
       </form>

       <form class="services-item services-item_child">
         <div class="services-item__block-text">
           <h5 class="services-item__title">Вакцинация против covid-19</h5>
           <div class="services-item__text"></div>
         </div>

         <div class="services-item__img">
           <img src="/assets/img/home_page/services/vaccination.svg" alt="">
         </div>

         <button class="btn btn_bgcolor_grey services__btn">
           <span>записаться</span>
         </button>
       </form>
     </div>
   </div>
 </section>