@import 'src/styles/variables';
.services {

}
.services__title {
   margin-bottom: 19px;
}
.services__block {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.services-item {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   width: 288px;
   height: 380px;
   background-color: #B9CADD;
   border-radius: 20px;
   &_school {
      background-image: url('/assets/img/home_page/services/school.svg');
      background-repeat: no-repeat;
      background-position: 30%;
   }
}
.services-item__block-text {
   padding: 20px 20px 0;
}
.services-item__title {
   color: $white;
}
.services-item__text {
   color: $white;
   font-weight: normal;
   font-size: 12px;
   line-height: 1.33;
   color: $white;
   margin-top: 10px;
}
.services-item__img {
   text-align: center;
   &_small {
      height: 57px;
      img {
         height: 100%;
      }
   }
}

.services__label {
   display: flex;
   flex-direction: column;
   padding: 0 20px;
   &_bottom {
      margin: auto 0 20px;
   }
}
.services__input {
   width: 100%;
   height: 40px;
   padding: 0 20px;

   background: #FFFFFF;
   border-radius: 25px;
   &:not(:first-child) {
      margin-top: 10px;
   }
}
.services__link {
   margin-top: 10px;
   font-weight: normal;
   font-size: 12px;
   line-height: 1.33;
   text-decoration: underline;
   color: $white;
}
.services__btn {
   height: 40px;
   width: 100%;
   border-radius: 25px;
}