<section class="mob-app">
   <div class="wrap">
     <h3 class="mob-app__title">Мобильное приложение</h3>
     
     <div class="mob-app__block">
       <div class="mob-app__icon"></div>
       <h2 class="mob-app__title">Скачайте удобное мобильное приложение</h2>
       <div class="mob-app__text">Получите информацию о всех государственных услугах Московской области</div>
       <div class="store">
         <div class="store__qr"></div>
         <div class="store__buttons">
           <a href="#" class="store-btn">
             <span class="store-btn__icon store-btn__icon_google"></span>
             <span class="store-btn__text">Google play</span>
           </a>
           <a href="#" class="store-btn">
             <span class="store-btn__icon store-btn__icon_appstore"></span>
             <span class="store-btn__text">App Store</span>
           </a>
         </div>
       </div>
       <button class="btn btn_bgcolor_scarlet mob-app__btn mob-app__btn_mob">
        <span>Скачать</span>
     </button>
     </div>
   </div>
 </section>