
  <div class="header">
    <div class="container">
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Дом и ЖКХ</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Здоровье</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Земля и стройка</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Культура и спорт</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Личные документы</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Образование</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Соцподдержка</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Транспорт</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

