
  <div class="header">
    <div class="container">
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item header-nav__item_active">
            <a href="#" class="header-nav__link">
              <span class="header-nav__icon header-nav__icon_bulb">
                <img class="header-nav__icon-img">
              </span>
              <span class="header-nav__text">Дом и ЖКХ</span>
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <span class="header-nav__icon header-nav__icon_health"></span>
              <span class="header-nav__text">Здоровье</span>
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <span class="header-nav__icon header-nav__icon_crane"></span>
              <span class="header-nav__text">Земля и стройка</span>
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <span class="header-nav__icon header-nav__icon_sport"></span>
              <span class="header-nav__text">Культура и спорт</span>
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <span class="header-nav__icon header-nav__icon_docs"></span>
              <span class="header-nav__text">Личные документы</span>
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <span class="header-nav__icon header-nav__icon_education"></span>
              <span class="header-nav__text">Образование</span>
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <span class="header-nav__icon header-nav__icon_socsup"></span>
              <span class="header-nav__text">Соцподдержка</span>
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <span class="header-nav__icon header-nav__icon_transport"></span>
              <span class="header-nav__text">Транспорт</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

