.container {
   margin: auto;
   width: 1200px;
}

.header {
   padding: 26px 0 20px;
   background: #fff;
}
.header-nav {

}
.header-nav__list {

}
.header-nav__item {
   
}
.header-nav__link {
   font-size: 14px;
   line-height: 1.357;
   font-weight: 600;
}