@import 'src/styles/variables';

// HEADER 
.header {
   padding: 26px 0 20px;
   background: #fff;
}
.header-nav {

}
.header-nav__list {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.header-nav__item {

}

.header-nav__link {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 120px;
   height: 120px;
   padding: 16px 4px 0;
   border: 2px solid transparent;
   border-radius: 5px;
   transition: $base-duration;
   text-align: center;
   &:hover {
      border: 2px solid $scarlet;
   }
}
.header-nav__item_active {
   color: $white;
   .header-nav__icon {
      svg path {
         fill: white;
      }
   } 
   .header-nav__link {
      color: inherit;
      background-color: $scarlet;
   }
}

.header-nav__icon {
   height: 40px;
   margin-bottom: 16px;
}

.header-nav__text {
   font-size: 14px;
   line-height: 1.357;
   font-weight: 600;
}
// HEADER END


// CONTENT
.content__title {
   margin-bottom: 19px;
}

// MOBILE APP

.mob-app {
}

.mob-app__block {
   color: $white;
   background: url('/assets/img/content/mob-app/bg.svg') no-repeat center;
   background-size: 100%;
   padding: 40px;
   padding-right: 638px;
   height: 385px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}


.mob-app__icon {
   width: 40px;
   height: 40px;
   background: url('/assets/img/content/mob-app/icon.svg');
   background-size: 100%;
   margin-bottom: 20px;
}


.mob-app__header {
   margin-bottom: 10px;
}


.mob-app__text {
   font-size: 16px;
   line-height: 1.6;
   font-weight: normal;
   margin-bottom: 17px;
}


.store {
   width: 242px;
   transform: translateX(-3px);
   margin-top: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.store__qr {
   background: url('/assets/img/content/mob-app/qr.png');
   background-size: cover;
   width: 86px;
   height: 86px;
}
.store__buttons {
   display: flex;
   flex-direction: column;
   align-self: stretch;
   justify-content: space-between;
}
.store-btn {
   color: $black;
   width: 130px;
   height: 37px;
   background-color: #fff;
   border-radius: 4px;
   display: flex;
   align-items: center;
   padding-left: 10px;
}
.store-btn__icon {
   width: 24px;
   height: 24px;
   &_google {
      background: url('/assets/img/content/mob-app/google-play.svg') center no-repeat;
      background-size: auto 100%;
   }
   &_appstore {
      background: url('/assets/img/content/mob-app/app-store.svg');
      background-size: cover;
   }
}
.store-btn__text {
   margin-left: 10px;
   font-weight: normal;
   font-size: 12px;
   line-height: 1.166;
}


// MOBILE APP END


// SUPPORT
.content {
   padding: 58px 0 224px;
}
.content__block {
   &:not(:last-child) {
      margin-bottom: 58px;
   }
}

.support {
}
.support__block {
   border-radius: 20px;
   padding: 24px 0;
   background: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.support__btn {
   margin-bottom: 24px;
}
.support__mobile {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.35;
   text-align: center;
   color: $black;
}
.btn {
   color: $scarlet;
   text-transform: uppercase;
   width: 210px;
   height: 34px;
   background: transparent;
   border: 1px solid $scarlet;
   border-radius: 17px;
   font-weight: 700;
   font-size: 12px;
   line-height: 1.333;
   cursor: pointer;
   transition: $base-duration;
   &:active {
      background-color: $scarlet;
      color: $white;
   }
   span {
      font-weight: inherit;
   }
}
// SUPPORT END

// CONTENT END