<section class="complex-services">
   <div class="wrap">
     <h3 class="complex-services__title">Комплексные услуги</h3>

     <div class="complex-services__block">
       <div class="complex-services-item complex-services-item_child">
         <h5 class="complex-services-item__title">Рождение ребенка</h5>
       </div>
       <div class="complex-services-item complex-services-item_pension">
         <h5 class="complex-services-item__title">Выход на пенсию</h5>
       </div>
       <div class="complex-services-item complex-services-item_name-change">
         <h5 class="complex-services-item__title">Перемена имени</h5>
       </div>
       <div class="complex-services-item complex-services-item_house-constr">
         <h5 class="complex-services-item__title">индивидуальное жилищное строительство</h5>
       </div>
       <div class="complex-services-item complex-services-item_loss-docs">
         <h5 class="complex-services-item__title">Утрата документов</h5>
       </div>
       <div class="complex-services-item complex-services-item_loss-person">
         <h5 class="complex-services-item__title">Утрата близкого человека</h5>
       </div>
       <div class="complex-services-item complex-services-item_place">
         <h5 class="complex-services-item__title">Смена места жительства</h5>
       </div>
       <div class="complex-services-item complex-services-item_purchase-house">
         <h5 class="complex-services-item__title">Приобретение жилого помещения</h5>
       </div>
       <div class="complex-services-item complex-services-item_open-case">
         <h5 class="complex-services-item__title">открытие своего дела</h5>
       </div>
     </div>
   </div>
</section>