<div class="header">
   <app-header-nav></app-header-nav>
   <app-search></app-search>
</div>

<div class="page-body">
   <div class="page-body__block">
      <app-home-events class="page-body__block"></app-home-events>
   </div>

   <div class="page-body__block">
      <app-home-services class="page-body__block"></app-home-services>
   </div>

   <div class="page-body__block">
      <app-home-complex-services class="page-body__block"></app-home-complex-services>
   </div>

   <div class="page-body__block">
      <app-home-news class="page-body__block"></app-home-news>
   </div>

   <div class="page-body__block">
      <app-home-mob-app class="page-body__block"></app-home-mob-app>
   </div>

   <div class="page-body__block">
      <app-home-support class="page-body__block"></app-home-support>
   </div>

</div>

