<div class="sidebar" [ngClass]="{'sidebar_active': active}">
   <div class="overlay" [ngClass]="{'overlay_active': active}" (click)="onActiveChange($event)">

      <div class="sidebar__row" [ngClass]="{'sidebar__row_active': active}">
         <div class="sbr-first-level sidebar__column">
            <div class="sbr-menu">
               <ul class="sbr-list-first-lvl sbr-menu__list">
                  <li class="sbr-item-first-lvl sbr-menu__item" *ngFor="let itemFirstLvl of sidebar; let id = index" >
                     <a [href]="itemFirstLvl.link" class="sbr-link-first-lvl sbr-menu__link" (click)="toggleSecondLvl($event, id)" [ngClass]="{'sbr-menu__link_prevent': !itemFirstLvl.listSecondLvl.length}">
                        <span class="sbr-link-first-lvl sbr-menu__text">{{itemFirstLvl.title}}</span>
                        <span class="sbr-menu__icon" *ngIf="itemFirstLvl.listSecondLvl.length"></span>
                     </a>
                     
                     <div #secondlvl class="sbr-second-level">
                        <ul class="sbr-list-second-lvl">
                           <li class="sbr-item-second-lvl sidebar__item" *ngFor="let itemSecondLvl of itemFirstLvl.listSecondLvl; let idSecindLvl = index">
                              <a 
                                 [href]="itemSecondLvl.link" 
                                 class="sbr-link-second-lvl sidebar__link" 
                                 [ngClass]="{'sidebar__link_active': idSecindLvl == activeLinkIdSecondLvl}" 
                                 (mouseover)="onSecondLevel(idSecindLvl, itemSecondLvl.listThirdLvl)"
                                 >
                                 <span class="sidebar__icon-link" *ngIf="itemSecondLvl.icon" >
                                    <app-icons [id]="itemSecondLvl.icon" ></app-icons>
                                 </span>
                                 <span class="sbr-link-first-lvl sidebar__text">{{itemSecondLvl.title}}</span>
                              </a>
                           </li>
                        </ul>
                     </div> 

                  </li>
               </ul>
            </div>

         </div>
         <div class="sbr-third-level sidebar__column" [ngClass]="{'sidebar__column_active': itemsThirdLvl}">
            <ul class="sbr-list-third-lvl sidebar__list" [ngClass]="{'sidebar__list_active': itemsThirdLvl}">
               <li class="sbr-item-third-lvl sidebar__item" *ngFor="let itemThirdLvl of itemsThirdLvl; let idThirdLvl = index">
                  <a 
                     [href]="itemThirdLvl.link" 
                     class="sbr-link-third-lvl sidebar__link"
                     [ngClass]="{'sidebar__link_active': idThirdLvl == activeLinkIdThirdLvl}"
                     (mouseover)="onThirdLevel(idThirdLvl, itemThirdLvl.listFourthLvl)"
                     >
                     <span class="sbr-link-third-lvl sidebar__text">{{itemThirdLvl.title}}</span>
                  </a>
               </li>
            </ul>
         </div>
         <div class="sbr-fourth-level sidebar__column" [ngClass]="{'sidebar__column_active': itemsFourthLvl && itemsThirdLvl}">
            <ul class="sbr-list-fourth-lvl sidebar__list" [ngClass]="{'sidebar__list_active': itemsFourthLvl && itemsThirdLvl}">
               <li class="sbr-item-fourth-lvl sidebar__item" *ngFor="let itemFourthLvl of itemsFourthLvl">
                  <a 
                     [href]="itemFourthLvl.link" 
                     class="sbr-link-fourth-lvl sidebar__link"
                     >
                     <span class="sbr-link-third-lvl sidebar__text">{{itemFourthLvl.title}}</span>
                  </a>
               </li>
            </ul>
         </div>

         <button class="sidebar__cross cross" (click)="onActiveChange($event)"></button>
      </div>

   </div>
</div>