@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.search {
   padding-bottom:7px;
   &__form {
      display: flex;
      align-items: flex-start;
   }
   &__icon {
      flex-basis: 98px;
      flex-shrink: 0;
      height: 98px;
      background: url('/assets/img/icons/search-frames.png') no-repeat 0 0/auto 100%;
      
      &_desk {
         display: block;
      }
      &_mob {
         display: none;
      }
   }
   &__input-block {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-grow: 1;
      padding-left: 12px;
   }
   &__input {
      flex-grow: 1;
      font-size: 20px;
      line-height: 1.5;
      font-weight: normal;
      padding-bottom: 10px;
      color: $redgrey;
      border-bottom: 2px solid #D8D8D8;
   }
}

.search-hints {
   margin-top: 6px;
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   &__item {
      cursor: pointer;
      padding: 7px 20px;
      border-radius: 0px 17px 17px 17px;
      background-color: $scarlet;
      margin-top: 10px;
      margin-right: 10px;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.357;
      color: #fff;
   }
}

@include media(mobile_720) {
   .search {
      &__icon {
         flex-basis: 60px;
         height: 60px;
         &_desk {
            display: none;
         }
         &_mob {
            display: block;
            margin-right: 6px;
         }
      }
      &__input-block {
         flex-direction: row;
         align-items: center;
      }
      &__input {
         font-size: 18px;
         line-height: 1.111;
         padding-bottom: 12px;
      }
   }
}
@include media(mobile_450) {
   .search {
      &__input {
         width: 100px;
      }
   }
}