@import 'src/styles/variables';
@import 'src/styles/breakpoints';

.h-menu {
   padding: 0 20px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 65px;
   border-bottom: 2px solid $lightgray;
}

.h-menu-toggle {
   padding: 0 20px;
   &__btn {
      position: relative;
      width: 24px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         border-radius: 1px;
         background-color: $scarlet;
         box-shadow: 0px 9px 0px 0px $scarlet;
         transform: translateY(-9px);
         transition: all 0.3s;
      }
      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         border-radius: 1px;
         background-color: $scarlet;
         transform: translateY(9px);
         transition: all 0.3s;
      }

      &._active {
         &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: $scarlet;
            box-shadow: 0px 0px 0px $scarlet;
            transform: translateY(0) rotate(45deg);
         }
         &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: $scarlet;
            transform: translateY(0) rotate(-45deg);
         }
      }
   }
}

.h-menu__logo {
   flex-shrink: 0;
   margin-right: auto;
}
.logo-gos {
   padding: 0 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   &__block-text {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &__icon {
      width: 36px;
      height: 54px;
      background: url('/assets/img/header/logo-gosuslugi.svg') no-repeat center;
      background-size: contain;
   }
   &__title {
      margin-top: 8px;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.357;
   }
   &__subtitle {
      font-weight: 600;
      font-size: 9px;
      line-height: 1.357;
      text-transform: uppercase;
      color: $scarlet;
   }
   &__title-mob {
      display: none;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.357;
   }
}

.h-menu-themes {
   padding: 0 40px;
   display: flex;
   align-items: center;

   &__text {
      position: relative;
      font-size: 14px;
      color: $black;
      font-weight: 600;
      line-height: 1.357;
      border-bottom: 1px dotted $scarlet;
      &::before {
         position: absolute;
         top: 10px;
         right: -12px;
         transform: rotate(45deg) translateX(-50%);
         content: '';
         width: 5px;
         height: 1px;
         border-radius: 1px;
         background-color: $scarlet;
      }
      &::after {
         position: absolute;
         top: 10px;
         right: -12px;
         transform: rotate(-45deg) translateX(50%);
         content: '';
         width: 5px;
         height: 1px;
         border-radius: 1px;
         background-color: $scarlet;
      }
   }
}


.h-menu-select {
   padding: 0 40px;
   display: flex;
   align-items: center;
   height: 100%;
   border-left: 1px solid $lightgray;
   &__item {
      display: flex;
      align-items: center;
      height: 100%;
      &:not(:first-child) {
         margin-left: 20px;
      }
   }
   &__link {
      height: calc(100% + 1px);
      font-size: 12px;
      color: $redgrey;
      font-weight: 600;
      line-height: 65px;
      &_active {
         border-bottom: 3px solid $scarlet;
         color: $black;
      }
   }
}

.h-menu-opport {
   flex-shrink: 0;
   &__btn {
      display: flex;
      align-items: center;
   }
   &__icon {
      width: 24px;
      height: 24px;
      background: url('/assets/img/header/bell.svg') no-repeat center;
      background-size: 100%;
   }
   &__text {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.6);
   }
}

.h-menu-mode {
   position: relative;
   display: flex;
   align-items: center;
   height: 100%;
   padding: 0 26px;
   &__btn {
      width: 24px;
      height: 20px;
      background: url('/assets/img/header/eye.svg') no-repeat center;
      background-size: 100%;
   }
   &:before {
      content: '';
      width: 1px;
      height: 88%;
      background-color: $lightgray;
      position: absolute;
      left: 0;
      top: 0;
   }
}
.h-menu-logit {
   display: flex;
   align-items: center;
   padding: 0 18px 0 30px;
   height: 100%;
   border-left: 1px solid $lightgray;
   &__btn {
      display: flex;
      align-items: center;
   }
   &__icon {
      background: url('/assets/img/header/user.svg') no-repeat center;
      background-size: 100%;
      width: 24px;
      height: 24px;
   }
   &__text {
      margin-left: 9px;
      font-size: 14px;
      font-weight: 500;
   }
}

@include media(desktop_1366) {
   .logo-gos__block-text {
      display: none;
   }
}

@include media(tablet_1240) {
   .h-menu-opport__text {
      display: none;
   }

   .h-menu-toggle {
      padding: 0;
   }

   .h-menu {
      justify-content: space-between;

      &__logo {
         margin-right: 0;
      }
   }

   .logo-gos {
      padding: 0;

      &__icon {
         height: 34px;
         margin-bottom: 6px;
         margin-right: 1px;
      }
      &__title-mob {
         display: block;
      }
   }

   .h-menu-opport {
      display: none;
   }

   .h-menu-themes {
      display: none;
   }

   .h-menu-select {
      display: none;
   }

   .h-menu-mode {      
      display: none;
   }

   .h-menu-logit {
      padding: 0;
      border-left: none;
      &__text {
         display: none;
      }
   }
}

