<app-sidebar [(active)]="activeSidebar" ></app-sidebar>
<div class="h-menu">
   <div class="h-menu-toggle">
      <button class="h-menu-toggle__btn" [ngClass]="{'_active': activeSidebar}" (click)="toggleActiveSidebar()"></button>
   </div>

   <a href="#" class="h-menu__logo logo-gos">
      <div class="logo-gos__icon"></div>
      <div class="logo-gos__block-text">
         <div class="logo-gos__title">Портал государственных и муниципальных услуг</div>
         <div class="logo-gos__subtitle">Московской области</div>
      </div>
      <div class="logo-gos__title-mob">ГОСУСЛУГИ</div>
   </a>
   
   <div class="h-menu-opport">
      <button class="h-menu-opport__btn">
         <span class="h-menu-opport__icon"></span>
         <span class="h-menu-opport__text">Ваши возможности</span>
      </button>
      
   </div>

   <div class="h-menu-themes"> 
      <button class="h-menu-themes__text">Темы</button>
   </div>

   <ul class="h-menu-select">
      <li class="h-menu-select__item">
         <a href="#" class="h-menu-select__link h-menu-select__link_active">Гражданам</a>
      </li>
      <li class="h-menu-select__item">
         <a href="#" class="h-menu-select__link">Бизнесу</a>
      </li>
   </ul>

   <div class="h-menu-mode">
      <button class="h-menu-mode__btn"></button>
   </div>
   
   <div class="h-menu-logit">
      <button class="h-menu-logit__btn">
         <span class="h-menu-logit__icon"></span>
         <span class="h-menu-logit__text">Войти</span>
      </button>
   </div>
</div>