/* You can add global styles to this file, and also import other style files */
@import './styles/layout';

.container {
   margin: auto;
   width: 1200px;
}

h2 {
   font-size: 30px;
   line-height: 1.333;
   font-weight: 700;
   text-transform: uppercase;
}
h3 {
   font-size: 20px;
   line-height: 1.5;
   font-weight: 600;
   text-transform: uppercase;
}


