/* You can add global styles to this file, and also import other style files */
@import './styles/layout';

.container {
   margin: auto;
   width: 1200px;
}

h2 {
   font-size: 30px;
   line-height: 1.333;
   font-weight: 700;
   text-transform: uppercase;
}
h3 {
   font-size: 20px;
   line-height: 1.5;
   font-weight: 600;
   text-transform: uppercase;
}
h5 {
   font-size: 14px;
   line-height: 1.43;
   font-weight: 700;
   text-transform: uppercase;
}



.btn {
   text-transform: uppercase;
   width: 210px;
   height: 34px;
   border-radius: 17px;
   font-weight: 700;
   font-size: 12px;
   line-height: 1.333;
   cursor: pointer;
   transition: $base-duration;
   &:active {
      background-color: $scarlet;
      color: $white;
   }
   span {
      font-weight: inherit;
   }
   &_bgcolor_transpar {
      background: transparent;
      color: $scarlet;
      border: 1px solid $scarlet;
   }
   &_bgcolor_scarlet {
      background: $scarlet;
      color: $white;
      border: 1px solid $scarlet;
   }
   &_bgcolor_grey {
      background: #6986A6;
      color: $white;
      border: 1px solid #6986A6;
   }
}